<a href="https://colab.research.google.com/github/menlib/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts= application_df['APPLICATION_TYPE'].value_counts()

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts=application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_data = pd.get_dummies(application_df)

In [11]:
# Split our preprocessed data into our features and target arrays
X= numeric_data.drop(['IS_SUCCESSFUL'], axis='columns').values

# Split the preprocessed data into a training and testing dataset
y = numeric_data['IS_SUCCESSFUL'].values

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=40)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1= 80
hidden_nodes_layer2= 30
hidden_nodes_layer3= 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer1,input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer2, input_dim=hidden_nodes_layer1,activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer3, input_dim=hidden_nodes_layer2,activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 80)                3520

 dense_3 (Dense)             (None, 30)                2430

 dense_4 (Dense)             (None, 10)                310

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 6271 (24.50 KB)
Trainable params: 6271 (24.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=60)

Epoch 1/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 2/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 3/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7398
Epoch 4/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 5/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 6/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7396
Epoch 7/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 8/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7407
Epoch 9/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 10/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 11/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 12/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7393
Epoch 13/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 14/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 15/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 16/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 17/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 18/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7396
Epoch 19/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 20/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 21/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7403
Epoch 22/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 23/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7398
Epoch 24/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 25/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7410
Epoch 26/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7411
Epoch 27/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 28/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 29/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7400
Epoch 30/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7404
Epoch 31/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7396
Epoch 32/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7398
Epoch 33/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7401
Epoch 34/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 35/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7398
Epoch 36/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 37/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7397
Epoch 38/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 39/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7387
Epoch 40/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 41/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7393
Epoch 42/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 43/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 44/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7391
Epoch 45/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7404
Epoch 46/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7409
Epoch 47/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7403
Epoch 48/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 49/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 50/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 51/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 52/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 53/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 54/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 55/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 56/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7408
Epoch 57/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 58/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 59/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 60/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7395

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5547 - accuracy: 0.7317 - 261ms/epoch - 974us/step
Loss: 0.5547199845314026, Accuracy: 0.7316617965698242

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimisation.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(